force-app/main/default/flows/ProcessLargeDataSet.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Find_Schools</name>
        <label>Find Schools</label>
        <locationX>683</locationX>
        <locationY>386</locationY>
        <actionName>InvokeProcessLargeDataFunction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Result_Screen</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <outputParameters>
            <assignToReference>results</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Assign_values_to_list</name>
        <label>Assign values to list</label>
        <locationX>472</locationX>
        <locationY>386</locationY>
        <assignmentItems>
            <assignToReference>input_var</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>input_function</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>input_var</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>input_latitude</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>input_var</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>input_longitude</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>input_var</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>input_results</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Find_Schools</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_values_to_variables</name>
        <label>Assign values to variables</label>
        <locationX>496</locationX>
        <locationY>219</locationY>
        <assignmentItems>
            <assignToReference>function</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_function</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>latitude</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_latitude</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>longitude</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_longitude</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>results</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_results</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_values_to_list</targetReference>
        </connector>
    </assignments>
    <interviewLabel>ProcessLargeDataSet {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ProcessLargeDataSet</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Collect_Data</name>
        <label>Collect Data</label>
        <locationX>242</locationX>
        <locationY>244</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_values_to_variables</targetReference>
        </connector>
        <fields>
            <name>input_function</name>
            <dataType>String</dataType>
            <fieldText>function</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>input_latitude</name>
            <dataType>String</dataType>
            <fieldText>latitude</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>input_longitude</name>
            <dataType>String</dataType>
            <fieldText>longitude</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>input_results</name>
            <dataType>String</dataType>
            <fieldText>results</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Result_Screen</name>
        <label>Result Screen</label>
        <locationX>883</locationX>
        <locationY>384</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>output_results</name>
            <fieldText>&lt;p&gt;{!results}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>116</locationX>
        <locationY>34</locationY>
        <connector>
            <targetReference>Collect_Data</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>function</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>input_var</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>latitude</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>longitude</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>results</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
